// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Media Queries [ Responsive Breakpoints ]
$bp-largest: 75em; // 1200px / 16px <===FontSize = 75em
$bp-large: 62.5em; // 1000px / 16px <===FontSize = 62.5em
$bp-medium: 50em; // 800px / 16px <===FontSize = 50em
$bp-small: 37.5em; // 6600px / 16px <===FontSize = 37.5em

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // so that 1rem ===  exactly 10px // So 10px /divided by 16px which is the browser default = equal 0,625

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  //color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;

  // rows
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); //  responsive rows

  // columns

  //The minmax(min,max ) CSS function defines a size range greater than or equal to min and less than or equal to max. It is used with CSS Grids.

  // don't get confused by the naming convention these are just arbitrary names we can name them monkey-start or monkey-end if we want :D
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    // 6rem sideBar calc(100vh - 6rem) header min-content realtors min-content features min-content story etc...
    /*  grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(
        3,
        min-content
      ); */
    grid-template-rows: 6rem calc(100vh - 6rem);
  }

  // & > * Container and all the direct children
  // only for development purpose
  // & > * {
  //   padding: 40px;
  //   font-size: 3rem;
  // }
}
